.who-section {
    height: 100vh;
    scroll-snap-align: center;
    display: flex;
    align-items: center;
  }
  
  .who-container {
    height: 100%;
    scroll-snap-align: center;
    width: 1400px;
    display: flex;
    justify-content: space-between;
  }
  
  .who-left {
    flex: 1;
  }
  
  .who-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  
  .who-title {
    font-size: 74px;
    align-items: center;
    gap: 10px;
  }
  
  .who-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .who-line {
    height: 5px;
  }
  
  .who-subtitle {
    color: #da4ea2;
  }
  
  .who-desc {
    font-size: 24px;
    color: lightgray;
  }
  
  .who-button {
    background-color: #da4ea2;
    color: white;
    font-weight: 500;
    width: 120px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  }
  
  @media only screen and (max-width: 768px) {
    .who-section{
      height: 200vh;
    }

    .who-container {
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .who-left{
      display: none;
    }
    .who-right{
      width: 100%;
      align-items: center;
      text-align: center;
    }
    .who-title{
      text-align: center;
      font-size: 40px;
    }
    .who-desc {
      padding: 20px;
      text-align: center;
    }
  }