.navbar-section {
    display: flex;
    justify-content: center;
  }
  
  .navbar-container {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
  }
  
  .navbar-logo {
    height: 20px;
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  
  .navbar-icons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .navbar-icon {
    width: 20px;
    cursor: pointer;
  }
  
  .navbar-button {
    cursor: pointer;
    width: 100px;
    padding: 10px;
    background-color: #da4ea2;
    color: white;
    border-radius: 5px;
    border: none;
  }
  