.navbar-section {
    display: flex;
    justify-content: center;
  }
  
  .navbar-container {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
  }
  
  .navbar-logo {
    height: 20px;
  }
  
  .navbar-button {
    cursor: pointer;
    width: 100px;
    padding: 10px;
    background-color: #da4ea2;
    color: white;
    border-radius: 5px;
    border: none;
  }
  
  @media only screen and (max-width: 768px) {
    .navbar-section {
      width: 100%;
    }
    .navbar-logo {
      padding: 10px;
    }
    .navbar-button {
      margin-right: 10px;
    }

  }